
.navbar-brand{
    font-family:Dancing Script,cursive;
    font-size: 25px;
}

.nav-item:hover{
    background-color: rgba(252, 252, 252, 0.753);
    color: black;
}
.img-content{
    position: absolute;  
    top: 30%;
    left:15%;
    text-align: center;
}
.my-content{
    font-family: Lovers Quarrel,cursive;
    font-size: 6.3rem;
    
    color: rgb(26, 21, 23);
}
.img-content p{
    font-size: 1.6rem;
}

.image img{
 width: 100%;
 border-top-right-radius: 5px;
 border-top-left-radius: 5px;
 }



footer{
    background: rgb(34, 33, 33);
    color: #fff;
    padding: 2rem 0;
}
footer .row > div{
    text-align: center;
}
footer .row > div:nth-child(1) img{
    width: 50px;
    margin: 0 auto;
}
footer .row > div:nth-child(1) p{
    width: 60%;
    margin: 0 auto;
}
.footer-social-links{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.footer-social-links li{
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
    border-radius: 50%;
}
.footer-social-links li:hover{
    border-color: cyan;
}
.footer-social-links a{
    color: #fff;
    transition: all 0.4s ease-in-out;
}


.footer-contact-info span{
    color: #a29a9c;
}
.footer-contact-info div{
    margin: 0.6rem 0;
}
.footer-text{
    text-align: center;
    margin-top: 3rem;
    font-size: 1rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-white{
    margin-left: 23rem;
}